@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-inox-900 text-inox-text font-sans antialiased;
  }
}

@keyframes scanLine {
  0%   { top: 15%; }
  50%  { top: 85%; }
  100% { top: 15%; }
}


